State_Machine/src/xsd/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/User" xmlns:tns="http://www.example.org/User" elementFormDefault="qualified">

    <complexType name="User">
    	<sequence>
    		<element name="Id" type="string"></element>
    		<element name="Password" type="string"></element>
    	</sequence>
    </complexType>



    <element name="root" type="tns:User"></element>
</schema>